<?xml version="1.0" encoding="utf-8"?>
<Project>
	<TargetName Name="FreeCADBase"/>
	<ProjectBuildPath Path="F:\3rd\FreeCAD\FreeCADBase\"/>
	<VCXProjectPath From="F:\FreeCAD_sf_master\Build\src\Base\" To="$(ProjectBuildPath)proj\"/>
	<SrcDirectories>
		<Item From="F:\FreeCAD_sf_master\src\Base\" To="$(ProjectBuildPath)Base\" AddToIncludeDir="True"/>
		<Item From="F:\FreeCAD_sf_master\src\zipios++\" To="$(ProjectBuildPath)zipios++\" AddToIncludeDir="True"/>
		<Item From="F:\FreeCAD_sf_master\src\CXX\" To="$(ProjectBuildPath)CXX\" AddToIncludeDir="True"/>
	</SrcDirectories>
	<AdditionalDependencies>
	</AdditionalDependencies>
	<AdditionalLibraryDirectories>
	</AdditionalLibraryDirectories>
</Project>